:root {
  font-variant-ligatures: none;
}

.platform-linux,
:host-context(.platform-linux) {
  --monospace-font-size: 1em !important;
  --monospace-font-family: "Monego", monospace !important;
  --source-code-font-size: 1em !important;
  --source-code-font-family: "Monego", monospace !important;
}

:host-context(.platform-linux) .monospace,
:host-context(.platform-linux) .source-code,
.platform-linux .monospace,
.platform-linux .source-code {
  font-size: 1em !important;
  font-family: "Monego", monospace !important;
}

.monospace,
.source-code {
  font-size: 1em !important;
  font-family: "Monego", monospace !important;
}

::shadow .monospace,
::shadow .source-code {
  font-size: 1em !important;
  font-family: "Monego", monospace !important;
}
